{
  "openapi": "3.1.0",
  "info": {
    "title": "StarPay API",
    "version": "1.0.0",
    "description": "StarPay API is a RESTful API that provides access to various functionalities of the StarPay system.\nThis API allows users to manage product categories, including creating, updating, deleting, and retrieving product categories.\nThe API uses JWT for thirdparty and supports various response formats.\n"
  },
  "servers": [
    {
      "url": "https://starpayqa.starpayethiopia.com/v1/starpay-api",
      "description": "Local server"
    }
  ],
  "paths": {
    "/trdp/order": {
      "post": {
        "operationId": "setorder",
        "tags": ["thirdparty"],
        "summary": "create order",
        "x-codeSamples": [
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using System.Net.Http;\n\nusing var client = new HttpClient();\nvar response = await client.GetAsync(\"https://starpayqa.starpayethiopia.com/v1/starpay-api/trdp/orde\");\nConsole.WriteLine(await response.Content.ReadAsStringAsync());\n"
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-secret",
            "required": true,
            "description": "The App Secret provided by CBE.",
            "schema": {
              "type": "string",
              "example": "X/2uxXAjJqaai5gRzXHzcFPcx9E6B3pibBbVSoce1U23q5hR2Sr5pxlh6WLQZBep"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The request was successful, and a new `resource` was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreationResponse",
                  "required": ["status", "timestamp", "message", "data"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "description": "The request body(payload) includes the following fields:\n\n- `api_secret`\n- `callbackURL`\n If you want to receive the customer back in your application after the transaction, you can provide a callback URL. Starpay will automatically redirect the user to your URL when the payment is completed successfully or Failed.\n## If you provide a callbackURL, StarPay will send the following response to that URL after a successful payment.\n\n```json \n {\n \n billRefNo: '33WJ8946WB',\n status: 'PAID' OR 'SETTLED',\n timestamp: '2025-12-10T11:05:37.566Z',\n message: 'Payment successful',\n merchantId: '6888dc21ee7cbfe63657144f',\n customerId: '656445e6-20fa-440d-b8c9-0a588d1ca05b',\n externalReferenceId: 'CLA9SR5XR9',\n amount: 1,\n payment_type: 'USSD_PUSH',\n receipt_url: 'https://receipt.starpayethiopia.com/receiptqa/WST-33WJ8946WB'\n}\n\n```\n\n## The error response for failed payments.\n\n```json \n {\n \n  billRefNo: '5I974ZLE60',\n  status: 'FAILED',\n  message: 'Payment failed'\n}\n\n```",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createOrder"
              }
            }
          }
        }
      }
    },
    "/trdp/verify": {
      "post": {
        "operationId": "verifypayment",
        "tags": ["thirdparty"],
        "summary": "for payment verification",
        "x-codeSamples": [
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using System.Net.Http;\n\nusing var client = new HttpClient();\nvar response = await client.GetAsync(\"https://starpayqa.starpayethiopia.com/v1/starpay-api/trdp/verify\");\nConsole.WriteLine(await response.Content.ReadAsStringAsync());\n"
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-secret",
            "required": true,
            "description": "The App Secret provided by CBE.",
            "schema": {
              "type": "string",
              "example": "X/2uxXAjJqaai5gRzXHzcFPcx9E6B3pibBbVSoce1U23q5hR2Sr5pxlh6WLQZBep"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "verify",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/verifypayment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The request was successful, and a new `resource` was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentVerificationResponse",
                  "required": ["status", "timestamp", "message", "data"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PhoneNumber": {
        "description": "Phone Number for Pre Login.",
        "type": "string",
        "format": "numeric",
        "example": "09........."
      },
      "merchantId": {
        "description": "merchant id",
        "type": "string",
        "example": 12345
      },
      "Email": {
        "description": "Email address for Pre Login.",
        "type": "string",
        "format": "email",
        "example": "museum-lover@example.com"
      },
      "payload": {
        "type": "string",
        "format": "JWT token",
        "example": "7FfzaiLexvWwqVmV52Z3vpSPxzrbNdw0qV/zycH+eykhZwf0YDcRbTSMBEJyzy4ppZkweDaE18MTZQD5704psZCPZldTPZg6\n"
      },
      "pk": {
        "description": "The `pk` or public key is used to verify the signature of the payload.\nIt is a string that represents the public key associated with the private key used to sign the payload.\nYou can use the following example to create a public key:\n\n```json\n {\n  \"pk\": \"ROKiu5r+tTTvABFk8/RQuj1JeFhxV5uD1U/qEyutETY=\"\n}\n\n```\n",
        "type": "string",
        "format": "JWT token",
        "example": "ROKiu5r+tTTvABFk8/RQuj1JeFhxV5uD1U/qEyutETY="
      },
      "PaymentItem": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "example": "6812220726f547936d6c1976"
          },
          "quantity": {
            "type": "integer",
            "example": 1
          },
          "item_name": {
            "type": "string",
            "example": "mobile"
          },
          "unit_price": {
            "type": "number",
            "example": 500
          }
        },
        "required": ["productId", "quantity", "item_name", "unit_price"]
      },
      "PaymentRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "example": 1000
          },
          "description": {
            "type": "string",
            "example": "VANS+"
          },
          "currency": {
            "type": "string",
            "example": "ETB"
          },
          "customerName": {
            "type": "string",
            "example": "test"
          },
          "customerPhoneNumber": {
            "type": "string",
            "example": "+251987654567"
          },
          "callbackURL": {
            "type": "string",
            "example": "https://example.com/start_pay_callback"
          },
          "customerEmail": {
            "type": "string",
            "format": "email",
            "example": "test12@gmail.com"
          },
          "expiredAt": {
            "type": "string",
            "example": "2025-07-01T23:59:59Z"
          },
          "redirectUrl": {
            "type": "string",
            "example": "https://google.com",
            "description": "-`The URL where the payment gateway will automatically redirect the customer after a successful payment. This is used to bring the customer back to your website or app to show a confirmation page, receipt, or next steps.`"
          },
          "metadata": {
            "type": "object",
            "description": "Additional custom information that you can send with the order. This field allows you to include extra data (e.g., order reference, custom fields) that will be returned in the payment response and webhook notifications.",
            "example": {
              "order_reference": "ORD-2025-001",
              "custom_field": "any value"
            },
            "additionalProperties": true
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "productId": {
                  "type": "string",
                  "example": "6812220726f547936d6c1976"
                },
                "quantity": {
                  "type": "integer",
                  "example": 1
                },
                "item_name": {
                  "type": "string",
                  "example": "mobile"
                },
                "unit_price": {
                  "type": "number",
                  "example": 500
                }
              },
              "required": ["productId", "quantity", "item_name", "unit_price"]
            }
          }
        },
        "required": [
          "amount",
          "description",
          "currency",
          "customerName",
          "customerPhoneNumber",
          "items",
          "api_secret"
        ]
      },
      "trdpSessionResponseResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "succes"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-05-06T08:31:28.204"
          },
          "message": {
            "type": "string",
            "example": "Session token generated successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "session_token": {
                "type": "string",
                "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjoiM2IxNjljN2Q1OTU3ZjgyOWQ3YzI1ZGQ1Mjc1NjZlNWUuMWNmMDcxYmJlYzA5OTNmNWRiOGFhNzMwMWQyM2UwZmVmMWM4MmJiZmM3YzQ0NDQzNWViZDgxNGZlZDYxODQ3ODQ5YmIyMTRmNDY3ZDA1ODgzMmQxMjdiNDE1OTMyOGNkM2NkZGMyNTNiNmRhOGNlMjZjZmYwMmE1YmI1OTY2MjIxZmUzNjY4YTVhMmFmOWQxNTEyODhhNTAxNGZhNmQyOTNkNzVkZjIxYzk1MGQxZTdhZDQ2ZGNhYTM1NTUwMjdlNWU4OWQ0YmFiZjc0MTlkNDc4ZTFhZTZmOTE4Mjc3YWZkMDc3MzMzMzdlZDNiZGU3MDRlY2E1NzM1MDQ3OGU5YTJhMWVkNTExNzFlNTI4NWViMzdiMGQ2ZGJiMDc0YTJiMWE3NjI1MDIxMjY4ZTdjYTZmNDgwOTczOWVmYjE5NmI1YTYzZjQwZmUzZWU4NjMzMGYyODBmNmY4OTY5ODUyZjUzOWU5NGMzNGJhNjhmZDg3MzNmNDVkNjJhODhiOTYzZDkzYS43MzhjMmNiMzY4NDc0YmM0NzljNGVkODY4NzYxODk3YiIsImlhdCI6MTc0NjUyMDI4OCwiZXhwIjoxNzQ2NjA2Njg4fQ.1QzHPn3r2gzYv5rReuSi1l1buF3CrYKv_9eQKlcvzYw"
              }
            },
            "required": ["access_token"]
          }
        },
        "required": ["status", "timestamp", "message", "data"]
      },
      "trdpSessionResponse": {
        "description": "Create session.",
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "payload": {
                "$ref": "#/components/schemas/payload",
                "description": "The payload includes the following fields:\n\n- `merchant_id`\n\n- `api_secret`\n"
              },
              "pk": {
                "$ref": "#/components/schemas/pk"
              }
            }
          }
        ]
      },
      "createOrder": {
        "description": "Create session.",
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentRequest",
            "description": "The payload includes the following fields:\nyou can use the following example to create a payload:\n\n\n    Attention!:\n\n    - `merchant_id`\n\n\n    - `api_secret`\n"
          }
        ]
      },
      "verifypayment": {
        "description": "Create session.",
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "orderId": {
                "type": "string",
                "description": "Unique identifier of the order.",
                "example": "5428255034"
              }
            }
          }
        ]
      },
      "verifyOtp": {
        "description": "Data to Pre Login.",
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "payload": {
                "$ref": "#/components/schemas/payload"
              },
              "pk": {
                "$ref": "#/components/schemas/pk"
              }
            }
          }
        ]
      },
      "OrderCreationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "message": {
            "type": "string",
            "example": "Order created successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "order_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              },
              "payment_url": {
                "type": "string",
                "format": "uri"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              },
              "metadata": {
                "type": "object",
                "description": "Additional custom information that can be sent with the order. This field allows you to include extra data that will be returned in the payment response and webhook notifications.",
                "example": {
                  "merchant_id": "12345",
                  "customer_id": "cust_67890",
                  "order_reference": "ORD-2025-001"
                },
                "properties": {
                  "merchant_id": {
                    "type": "string"
                  },
                  "customer_id": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "PaymentVerificationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "message": {
            "type": "string",
            "example": "Payment verified successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "order_id": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "example": "PAID"
              },
              "amount": {
                "type": "number",
                "example": 100
              },
              "currency": {
                "type": "string",
                "example": "ETB"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "BadRequestError": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-05-07T07:31:30.824Z"
          },
          "path": {
            "type": "string",
            "example": "/v2/starpay-api/"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "BadRequestException"
              },
              "message": {
                "type": "string",
                "example": "Missing required payload data, pk and payload is required"
              }
            }
          }
        }
      },
      "NotFoundError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Something wrong"
          },
          "status": {
            "type": "string",
            "example": "error"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-05-07T07:31:30.824Z"
          },
          "path": {
            "type": "string",
            "example": "/v2/starpay-api/"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "ABC_001"
              },
              "message": {
                "type": "string",
                "example": "not found"
              }
            }
          }
        }
      },
      "serverError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Something wrong"
          },
          "status": {
            "type": "string",
            "example": "error"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-05-07T07:31:30.824Z"
          },
          "path": {
            "type": "string",
            "example": "/v2/starpay-api/"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "GEN_004"
              },
              "message": {
                "type": "string",
                "example": "An unexpected server error occurred."
              }
            }
          }
        }
      },
      "thirdpartyError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Something wrong"
          },
          "status": {
            "type": "string",
            "example": "error"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-05-07T07:31:30.824Z"
          },
          "path": {
            "type": "string",
            "example": "/v2/starpay-api/"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "GEN_004"
              },
              "message": {
                "type": "string",
                "example": "An unexpected server error occurred."
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestError"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundError"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/thirdpartyError"
            }
          }
        }
      },
      "ServerError": {
        "description": "internal.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/serverError"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BearerJwt": {
        "type": "http",
        "scheme": "Bearer",
        "bearerFormat": "Json Web Token (JWT)",
        "description": "Jwt Auth: Authenticated requests contain a valid Json Web Token (JWT) as part of the `Authorization: Bearer <JWT>` header."
      }
    }
  },
  "tags": [
    {
      "name": "thirdparty"
    }
  ]
}
